.formControl {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.formTitle {
    font-size: 20px;
    margin: 14px 10px 14px 0;
}

@media (max-width: 400px) {
    .formControl {
        flex-direction: column;
        gap: 0;
    }
}