.title {
    margin: 15px 0;
}

.commentsWrapper {
    padding-bottom: 15px;
}
.titleWrapper {
    display: flex;
    justify-content: space-between;
}

.buttonsWrapper {
    display: flex;
    gap: 10px;
}

.user {
    font-size: 24px;
}

.date {
    font-style: italic;
}

.buttonDiv {
    padding-bottom: 10px;
}